<h1>ユーザー一覧</h1>

<% @users.each do |user| %>
  <p>ユーザーID: <%= user.uid %>
    <%= link_to '削除', user, method: :delete, data: {confirm: "ユーザー「#{user.uid}」を削除します。よろしいですか？" }, class: 'btn btn-danger'  %>
  </p>
<% end %>
<%= link_to 'ユーザー登録', new_user_path, class: 'btn btn-primary' %>
