<div class="container">
  <%= form_with model: post, local: true do |f| %>
    <div class="form-group">
      <%= f.label :comment%>
      <%= f.text_area :comment, class: 'form-control', rows: "2", id: 'post_title' %>
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>