<h1>投稿一覧</h1>

<ul>
  <li>
    <% @posts.each do |post| %>
      <%= post.user.uid %>
      <span>&nbsp;&nbsp;</span>
      <span>投稿日</span>
      <span><%= post.created_at.strftime("%Y/%m/%d")%></span>
      <br><%= link_to post.comment, post_path(post) %>
        <br><span>likeを追加</span>
            <br>
    <% end %>
  </li>
</ul>