<h1>投稿</h1>
<p>ユーザーID：<%= @post.user.uid %></p>
<p>ツイート：<%= @post.comment %></p>

<%= link_to '削除', @post, method: :delete, data: {confirm: "ユーザー「#{@post.comment}」を削除します。よろしいですか？" }, class: 'btn btn-danger' %>