<!DOCTYPE html>
<html>
  <head>
    <title>L6</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li><%= link_to '投稿一覧', posts_path, class: 'nav-link' %></li>
        <% if current_user %>
          <li><%= link_to 'ログアウト', logout_url, method: :delete, class: 'nav-link' %></li>
          <li><%= link_to '新規投稿', new_post_path, class: 'nav-link' %></li>
        <% else %>
          <li><%= link_to 'ログイン', login_url, class: 'nav-link' %></li>
      <% end %>
      </ul>
    </header>
    <div class="container">
      <%if flash.notice.present? %>
        <div class="alert alert-success"><%= flash.notice %></div>
      <%end %>
      <%= yield %>
    </div>
  </body>
</html>
